
.home-hero {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background: repeating-linear-gradient(#741d40, pink);
    color: #dddddd;
    text-shadow: 0 -.125rem 1rem #666666;
}
