#messages .list-group-item {
    display: flex;
    align-items: flex-start;
    padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-items:hover {
    background-color: purple;
}

.timeline-image {
    border-radius: 50px;
    height: 48px;
    width: 48px;
    margin: 2px 30px 10px 10px;
}

.btn:hover {
    cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
    color: white;
}
